.overlay--container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay--message-box {
  opacity: 1;
  background-color: white;
  padding: 20px;
}